.main-section{
    background-color: transparent;
    height: 80vh;
}

.product-area{
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-gap:35px;
    padding-top: 50px;

}
.left-area{
    background-color: #ffcccc25;
    min-height: 100px;
    border-radius: 0 15px 15px 0;
    box-shadow:0 1rem 3rem rgba(0,0,0,.175);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 15px;

}
.modal{
    z-index:99999;
}